<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<parameter name="url" value="kjhsmhags"></parameter>
	
	<listeners>
		<listener class-name="testng.Listener"></listener>
		
	</listeners>
  <test  name="Test1" parallel="classes" thread-count="5">
<!--	  <groups>-->
<!--		  <run>-->
<!--			  <include name="smoke"></include>-->
<!--		  </run>-->
<!--	  </groups>-->
    <classes>
		
<!--      <class name="testng.Class1">-->
<!--		  <methods>-->
<!--			  <include name="method.*"></include>-->
<!--		  </methods>-->
<!--      </class>-->
	     <class name="testng.Class1"/>  
      <class name="testng.Class2"/>
      <class name="testng.Class3"/>
      <class name="testng.Class4"/>
      <class name="testng.Class5"/>
    </classes>
    
  </test> <!-- Test -->
  <test name="Test2">
	<classes>
      <class name="testng.Class1">
		  <methods>
			  <include name="method.*"></include>
		  </methods>
      </class>
		  
      <class name="testng.Class2"/>
      <class name="testng.Class3"/>
      <class name="testng.Class4"/>
      <class name="testng.Class5"/>
    </classes>  
  </test>
</suite> <!-- Suite -->
